.chart{
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.208);
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgba(211, 211, 211, 0.388);
    }
}