.datatable {
  height: 600px;
  padding: 25px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .link:hover {
      color: white;
      background-color: green;
      transition: 0.3s;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 25px;
      border: 1px solid white;
      background-color: white;
    }
  }


  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px solid rgba(0, 0, 139, 0.337);
      cursor: pointer;
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px solid rgba(220, 20, 60, 0.429);
      cursor: pointer;
    }
  }
}
