* {
    --top: -5%;
    --left: -1.4%;
}

.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background-color: red; */
    position: relative;
}

.pList::after {
    position: absolute;
    content: " ";
    width: 21%;
    height: 110%;
    border: 2px solid black;
    border-radius: 5px;
    top: var(--top);
    left: var(--left);
    /* top: -5%;
    left: -1.4%;
    top: -5%;
    left: 19.1%;
    top: -5%;
    left: 39.45%;
    top: -5%;
    left: 59.8%;
    top: -5%;
    left: 80.2%; */
    transition: 0.2s linear;
}

.pListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: yellow; */
}

.pListImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pListTitles > h1 {
    font-size: 19px;
    color: rgba(68, 68, 68, 0.979);
    text-transform: capitalize;
}

.pListTitles > h2 {
    font-size: 14px;
    font-weight: 300;
}